/* 
	
	config/_colours.scss

*/

// brand colours
$brand1 : #D9272E;	// red
$brand2 : #32323a;  // dark grey
$brand3 : #aaaaaa;	// mid grey
$brand4 : #eeeeee;  // light grey
$brand5 : #ffffff;  // white

$yellow	: #ffcc33;

// traffic light colours
$red 	: #cd0000;	// red
$amber 	: #ff751a;	// amber
$green 	: #008a00;	// green
