vendor
build/bower_components/
build/node_modules/
build-entry-check-app/bower_components/
build-entry-check-app/node_modules/
build-entry-check-v1/bower_components/
build-entry-check-v1/node_modules/

!build/bower_components/exclude_contents_but_not_directory
!build/node_modules/exclude_contents_but_not_directory


tests
!tests/exclude_contents_but_not_directory

node_modules
bower_components

/public/storage
Homestead.yaml
Homestead.json
.env
.env.example
.gitattributes
.gitignore.swp
config/database.php
.idea/
build-admin/bower_components/