/* 
	
	components/event/_event--carpark.scss 

*/

.event--carpark {
	margin-bottom: 1.25em;

	&:last-child {
		margin-bottom: 0;
	}

	.event--carpark__head {
		@include clearfix;
		background: $brand4;
		border: 1px solid $brand3;
		padding: 0.5em;

		.event--carpark__head__left {
			float: left;

			h2 {
				margin: 0.75em 0 0 0.5em;
				font-size: 0.875em;
				color: $brand2;
				font-weight: 700;
			}
		}

		.event--carpark__head__right {
			float: right;
		}
	}

	.event--carpark__info {
		@include clearfix;
		float: left;
		@include calc(width, "100% - 120px");
		text-align: center;

		.info {
			float: right;
			text-align: left;
			padding: 0 0 0 2em;

			p {
				text-transform: uppercase;
				font-size: 0.75em;
				margin: 0;
				color: $brand1;

				&:first-child {
					font-weight: 700;
					color: $brand2;
				}
			}
		}

	}

	.event--carpark__actions {
		float: left;
		width: 120px;
		text-align: right;

		.button {
			i {
				margin-right: 0;
				margin-left: 0.5em;
			}
		}
	}

	.event--carpark__stats {
		@include clearfix;
		background: lighten($brand4,5%);

		padding: 0;
		border: 1px solid $brand3;
		border-bottom: 1px solid $brand3;
		border-top: none;

		.event--carpark__stat {
			@include clearfix;
			float: left;
			width: 25%;
			font-size: 0.75em;
			padding: 0.5em 1em;

			.event--carpark__stat--left {
				float: left;
				width: 75%;
				color: $brand2;
			}

			.event--carpark__stat--right {
				float: left;
				width: 25%;
				color: $brand1;
			}

		}

	}

	.event--carpark__form {
		display: none;
		border: 1px solid $brand3;
		border-top: none;
		background: lighten($brand4,5%);
		padding: 1em;
	}

	.event--carpark__disabled {
		border-top: 1px solid darken($yellow,20%);
		border-left: 1px solid darken($yellow,20%);
		border-right: 1px solid darken($yellow,20%);
		padding: 1em;
		background: lighten($yellow,20%);
		color: darken($yellow,30%);
		font-size: 0.75em;
	}

}

